<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Full Width Pics - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/inicio">Portafolio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/inicio">Incio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/habilidades">Habilidades</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    
                    <div class="col">
                        <h2><strong>Otros Estudios</strong></h2><hr>
                        <ul>
                            <li>Nivel Intermedio de ingl&eacute;s &ndash; Instituci&oacute;n Conversa</li><br>
                            <li>Nivel intermedio en Python</li><br>
                            <li>Nivel Intermedio en Django.</li><br>
                            <li>Nivel b&aacute;sico de Exel.</li><br>
                            <li>Nivel intermedio en React.</li><br>
                            <li>Nivel intermedio en desarrollo de aplicaci&oacute;nes web</li><br>
                        </ul>
                        <h2><strong>Experiencia de Voluntariado y/o Skills</strong></h2><hr>
                        <ul>
                            <li>Emp&aacute;tico</li><br>
                            <li>Habilidades anal&iacute;ticas.</li><br>
                            <li>Capacidad de integraci&oacute;n.</li><br>
                            <li>Curiosidad</li><br>
                            <li>Motivaci&oacute;n.</li><br>
                            <li>Compromiso</li><br>
                            <li>Realice una p&aacute;gina para la empresa Corvel&rsquo;s S.A.C. ,con una plantilla ,en donde cree una API Para su carrito de compras.</li><br>
                        </ul>
                        <h3><strong>Link de Trabajos realizados</strong></h3><hr>
                        <ul>
                            <li><strong>Pagina echa con React:</strong><a href="https://corvels-web.vercel.app/"  target="_blank"><strong>https://corvels-web.vercel.app/</strong></a></li><br>
                            <li><strong>API REST: </strong><a href="https://dbcorvels.onrender.com/"  target="_blank"><strong>https://dbcorvels.onrender.com/</strong></a></li><br>
                        </ul>
                    </div>
                    <div class="col">
                        <img src="https://images.unsplash.com/photo-1608306448197-e83633f1261c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" width="100%" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('images/backiee-132683.jpg')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
